{
  "openapi": "3.1.0",
  "info": {
    "title": "Radu Stoian Profile & Agent Endpoints API",
    "description": "Public content negotiation and agent resource endpoints for radustoian.com",
    "version": "1.0.0",
    "contact": {
      "name": "Radu Stoian",
      "url": "https://radustoian.com"
    }
  },
  "servers": [
    {
      "url": "https://radustoian.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Homepage",
        "description": "Returns HTML or Markdown profile depending on Accept header",
        "responses": {
          "200": {
            "description": "Successful profile response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLM Digest",
        "description": "Curated markdown digest for AI models",
        "responses": {
          "200": {
            "description": "LLM digest file",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/metadata.json": {
      "get": {
        "summary": "Schema.org Profile Graph",
        "description": "Linked Data JSON-LD graph of profile credentials and publications",
        "responses": {
          "200": {
            "description": "JSON-LD graph",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ard.json": {
      "get": {
        "summary": "Agentic Resource Discovery Manifest",
        "description": "ARD v0.91 discovery manifest for AI agents",
        "responses": {
          "200": {
            "description": "ARD manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Agent Skills Discovery Index",
        "description": "Agent Skills Discovery RFC v0.2.0 index of machine-readable capabilities",
        "responses": {
          "200": {
            "description": "Agent skills discovery index",
            "content": {
              "application/ai-registry+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Full Profile Context",
        "description": "Exhaustive profile context, case studies, client testimonials, and credentials for deep LLM ingestion",
        "responses": {
          "200": {
            "description": "Full LLM markdown file",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Model Context Protocol (MCP) Streamable HTTP Server",
        "description": "JSON-RPC 2.0 Streamable HTTP endpoint for autonomous AI agents. Provides agentic tools: ask-question (dynamic QA over site files with fail-safe fallback to llms-full.txt), get-section, get-investigation-links, and server-info.",
        "operationId": "callMcpServer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "method"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "example": "2.0"
                      },
                      "id": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "method": {
                        "type": "string",
                        "example": "tools/call"
                      },
                      "params": {
                        "type": "object"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Batch JSON-RPC requests"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC 2.0 response",
            "headers": {
              "Mcp-Session-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Session identifier emitted on initialization"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "result": {
                      "type": "object"
                    },
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Notification accepted (no response body)"
          }
        }
      }
    },
    "/api": {
      "get": {
        "summary": "REST API Root & Directory",
        "description": "Returns API metadata, version info, endpoint index, and links to OpenAPI documentation and MCP service",
        "operationId": "getApiDirectory",
        "responses": {
          "200": {
            "description": "API directory and discovery index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "version": { "type": "string" },
                    "mcpServerVersion": { "type": "string" },
                    "documentation": { "type": "string" },
                    "mcpEndpoint": { "type": "string" },
                    "origin": { "type": "string" },
                    "endpoints": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/query": {
      "get": {
        "summary": "Dynamic Question Answering (GET)",
        "description": "Performs BM25 relevance scoring across llms-full.txt, index.md.txt, metadata.json, and index.html to answer questions, with fail-safe fallback to complete llms-full.txt",
        "operationId": "queryKnowledgeGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Question to ask about Radu Stoian (e.g. 'What did Radu do for Virgin Atlantic?')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dynamic answer with relevant block, citations, and investigation links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Missing query parameter"
          }
        }
      },
      "post": {
        "summary": "Dynamic Question Answering (POST)",
        "description": "Performs BM25 relevance scoring using a JSON request payload",
        "operationId": "queryKnowledgePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["question"],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question to ask about Radu Stoian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dynamic answer with relevant block, citations, and investigation links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body or missing question"
          }
        }
      }
    },
    "/api/v1/sections/{name}": {
      "get": {
        "summary": "Knowledge Section Retrieval",
        "description": "Returns full text, parsed blocks, and links of any specific section in llms-full.txt",
        "operationId": "getKnowledgeSection",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name or keyword of the section (e.g. 'projects', 'skills', 'testimonials')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Section content, blocks, and links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Section not found with available section list"
          }
        }
      }
    },
    "/api/v1/links": {
      "get": {
        "summary": "Investigation & Citation Links",
        "description": "Returns verified external public profile, publication, and certification links",
        "operationId": "getInvestigationLinks",
        "responses": {
          "200": {
            "description": "List of investigation links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "origin": { "type": "string" },
                    "totalLinks": { "type": "integer" },
                    "links": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resources": {
      "get": {
        "summary": "Knowledge Resources Catalog",
        "description": "Returns list of authoritative underlying knowledge sources and raw profile documents",
        "operationId": "getResourcesCatalog",
        "responses": {
          "200": {
            "description": "List of knowledge resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "origin": { "type": "string" },
                    "totalResources": { "type": "integer" },
                    "resources": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/info": {
      "get": {
        "summary": "System Info & Agent Instructions",
        "description": "Returns server version, protocol version, runtime environment, MCP tools, and operating instructions",
        "operationId": "getSystemInfo",
        "responses": {
          "200": {
            "description": "System information and instructions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 Authorization Server per RFC 8414",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://radustoian.com/oauth/token",
            "scopes": {
              "read:profile": "Read public profile, credentials, and case studies",
              "read:ai": "Execute BM25 queries and agent tools"
            }
          },
          "authorizationCode": {
            "authorizationUrl": "https://radustoian.com/oauth/authorize",
            "tokenUrl": "https://radustoian.com/oauth/token",
            "scopes": {
              "read:profile": "Read public profile, credentials, and case studies",
              "read:ai": "Execute BM25 queries and agent tools"
            }
          }
        }
      },
      "openIdConnect": {
        "type": "openIdConnect",
        "description": "OpenID Connect Discovery per OIDC Discovery 1.0",
        "openIdConnectUrl": "https://radustoian.com/.well-known/openid-configuration"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Optional Bearer token for authenticated agent sessions"
      }
    }
  }
}

