{
  "openapi": "3.1.0",
  "info": {
    "title": "Radu Stoian Profile & Agent Endpoints API",
    "description": "Public content negotiation and agent resource endpoints for radustoian.com",
    "version": "1.0.0",
    "contact": {
      "name": "Radu Stoian",
      "url": "https://radustoian.com"
    }
  },
  "servers": [
    {
      "url": "https://radustoian.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Homepage",
        "description": "Returns HTML or Markdown profile depending on Accept header",
        "responses": {
          "200": {
            "description": "Successful profile response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLM Digest",
        "description": "Curated markdown digest for AI models",
        "responses": {
          "200": {
            "description": "LLM digest file",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/metadata.json": {
      "get": {
        "summary": "Schema.org Profile Graph",
        "description": "Linked Data JSON-LD graph of profile credentials and publications",
        "responses": {
          "200": {
            "description": "JSON-LD graph",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ard.json": {
      "get": {
        "summary": "Agentic Resource Discovery Manifest",
        "description": "ARD v0.91 discovery manifest for AI agents",
        "responses": {
          "200": {
            "description": "ARD manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Agent Skills Discovery Index",
        "description": "Agent Skills Discovery RFC v0.2.0 index of machine-readable capabilities",
        "responses": {
          "200": {
            "description": "Agent skills discovery index",
            "content": {
              "application/ai-registry+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Full Profile Context",
        "description": "Exhaustive profile context, case studies, client testimonials, and credentials for deep LLM ingestion",
        "responses": {
          "200": {
            "description": "Full LLM markdown file",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Model Context Protocol (MCP) Streamable HTTP Server",
        "description": "JSON-RPC 2.0 Streamable HTTP endpoint for autonomous AI agents. Provides agentic tools: ask-question (dynamic QA over site files with fail-safe fallback to llms-full.txt), get-section, get-investigation-links, and server-info.",
        "operationId": "callMcpServer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "method"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "example": "2.0"
                      },
                      "id": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "method": {
                        "type": "string",
                        "example": "tools/call"
                      },
                      "params": {
                        "type": "object"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Batch JSON-RPC requests"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC 2.0 response",
            "headers": {
              "Mcp-Session-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Session identifier emitted on initialization"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "result": {
                      "type": "object"
                    },
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Notification accepted (no response body)"
          }
        }
      }
    }
  }
}
